<form
	class='product-form'
	action='/product/add'
	method='post'
	enctype='multipart/form-data'
>
	<div class='form_group'>
		<label for=''>Tên sản phẩm </label>
		<input type='text' name='productName' />
	</div>
	<div class='form_group'>
		<label for=''>Giá </label>
		<input type='text' name='price' />
	</div>
	<div class='form_group'>
		<label for=''>Mô tả </label>
		<input type='text' name='description' />
	</div>
	<div class='form_group'>
		<label for=''>Hình ảnh </label>
		<input type='file' name='uploadImg' value='uploadImg' />
	</div>

	<button type='submit'>Thêm sản phẩm</button>
</form>