<nav class='navbar navbar-expand-lg bg-body-tertiary'>
	<div class='container-fluid'>

		<div class='collapse navbar-collapse' id='navbarSupportedContent'>
			<ul class='navbar-nav me-auto mb-2 mb-lg-0'>
				<li class='nav-item'>
					<a class='nav-link active' href='/'>Poly Book Store</a>
				</li>
				<li class='nav-item'>
					<a class='nav-link' href='/admin/add'>Thêm mới</a>
				</li>
				<li class='nav-item'>
					<a class='nav-link' href='/admin/products'>Danh sách sản phẩm</a>
				</li>

			</ul>

		</div>
	</div>
</nav>

<form
	class='product-form mt-4'
	action='/admin/add'
	method='post'
	enctype='multipart/form-data'
>
	<div class='form-group'>
		<label for=''>nameProduct </label>
		<input class='form-control' type='text' name='nameProduct' />
	</div>
	<div class='form-group'>
		<label for=''>sortDescription </label>
		<input class='form-control' type='text' name='sortDescription' />
	</div>
	<div class='form-group'>
		<label for=''>Hình ảnh </label>
		<input
			class='form-control'
			type='file'
			name='uploadImg'
			value='uploadImg'
		/>
	</div>
	<div class='form-group'>
		<label for=''>description </label>
		<input class='form-control' type='text' name='description' />
	</div>
	<div class='form-group'>
		<label for=''>priceProduct </label>
		<input class='form-control' type='text' name='priceProduct' />
	</div>
	<div class='form-group'>
		<label for=''>authorProduct </label>
		<input class='form-control' type='text' name='authorProduct' />
	</div>
	<div class='form-group'>
		<label for=''>Category </label>
		<select class='form-control' name='category' id=''>
			{{#each categorys}}
				<option value={{this.idCategory}}>{{this.nameCategory}}</option>
			{{/each}}
		</select>
	</div>

	<button type='submit' class='btn btn-primary'>Thêm sản phẩm</button>
</form>